body {
    background-color: #80d4ea;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
}
#buttons{
  display:flex;
  list-style-type: none;
  justify-content: space-around;
}

#blue-button{
  border: 1px solid black;
  padding: 3px;
  background-color:blue;
}
#green-button{
  border: 1px solid black;
  padding: 3px;
  background-color:green;
}
#orange-button{
  border: 1px solid black;
  padding: 3px;
  background-color:orange;
}

#update-time{
  border: 1px solid black;
  padding: 3px;
  background-color:gray;
}

.green{
  color: green;
}

.blue{
  color: blue;
}

.orange{
  color:orange;
}
