body {
    background-color: #80d4ea;
    color: white;
}
ul {
  list-style: none;
  display: flex;
  margin-top: 100px;
}

.gray {
  background-color: #aaa;
  color: brown;
}

.pink {
  background-color: rgb(222, 150, 202);
  color: rgb(108, 144, 130);
}

.black {
  background-color: black;
  color: white;
}

.blue {
  background-color: #80d4ea;
}

#clock, #chileclock , #londonclock, #tokioclock{
    height: 100px;
    width: 800px;
    margin: auto;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    font-size: 100px;
}

#chileclock, #londonclock, #tokioclock {
  font-size: 50px;
}

#date {
  height: 70px;
  width: 600px;
  margin: auto;
  padding-top: 70px;
  font-family: courier, monospace;
  text-align: center;
  font-size: 30px;
}

#local, #chile, #london {
  font-family: courier, monospace;
  text-align: center;
  color: white;
  font-size: 30px;
}
